* {
    margin: 0;
    padding: 0
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    /* background-color: aqua; */
    padding: 5px 10%;
    backdrop-filter: blur(16px);
}




header a {
    align-items: center;
    /* padding-top: 20px;  */

}

header a button {
    padding: 8px;
    border-radius: 20px;
    border: 2px solid white;
    cursor: pointer;
    font-family: 'poppins';

}




.logo {
    cursor: pointer;
}

.logo img {
    height: 60px;
    width: 130px;
}


.links ol li a {
    text-decoration: none;
    color: white;
    padding: 0px 20px;
    font-size: 20px;
}


.links ol {
    list-style: none;
    font-family: 'poppins';


}

.links ol li {
    display: inline-block;
    padding: 20px 5px;

}



header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/castelmezzano-gef80a24fd_1920.jpg);
    background-size: cover;
    height: 670px;

}
.texto{
    
text-align: center;
padding-top: 100px;

}

.texto h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    color: white;
}

.texto p{
    color: white;
font-family: 'Poppins', sans-serif;

}

.tours h2{
    font-family: 23px;
    font-family: 'poppins';
    text-align: center;
    padding-top: 23px;
    padding-bottom: 23px;
}

.card img{
    height: 450px;
}

.tours h2{
    color: white;
}

.tours{
    background-color: black;
}




.container1{
    display: flex;
    flex-wrap: wrap;
}


.card{
    width: 300px;
height: 370px;
/* background-image: url(../img/ARGENTINA/pexels-lucía-montenegro-12185637.jpg); */
background-size: cover;
border-radius: 13px;
cursor: pointer;
margin: 30px 15px;
background-position: center;

}

.card1{
    background-image: url(../img/LONDRES/pexels-pixabay-280329.jpg);
}

.card2{
    background-image: url(../img/ITALIA/pexels-khalid-ait-sayh-1701595.jpg);
}

.card3{
    background-image: url(../img/ARGENTINA/pexels-lucía-montenegro-12185637.jpg);
}

.card4{
    background-image: url(../img/JAPON/river-g03e57ef94_1920.jpg);
}


.card h3{
color: white;
text-align: center;

}









































